<h2>Updates coming your way...</h2>

<h3>There will be many updates coming in patches shortly, which will enhance your experience while using this budgeting app.</h3>

<h4>This app will...</h4>
<ul>
    <li>probably look a bit prettier next patch.</li>
    <li>include a functionality to search your transactions by date.</li>
    <li>allow you to add your own categories and limits.</li>
    <li>give advice on how best to save money/budget effectively.</li>
    <li>possibly teach you the 'wok' on a tabletennis table.</li>
</ul>


<h4>If you wish to donate to speed up the process, (ie. pay for my unhealthy amounts of coffee consumption) feel free to donate below.</h4>

<form class="side_form" action="/moneycashboard/donation" method="post">
    <label for="donation">Enter donation amount:</label>
    <input type="number" name="amount" id="donation" />
    <input type="submit" value="Donate">
</form>
