<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MoneyCashBoard</title>
    <link rel="stylesheet" href="/money_stylesheets.css"/>
</head>

<body>
    <div class="heading">
    <h1>MoneyCashBoard</h1>

    <nav>
        <ul>
            <div class="navigation">
                <li>
                    <a href="/moneycashboard">Home</a>
                    <a href="/moneycashboard/view_transactions">Transactions</a>
                    <a href="/moneycashboard/view_vendors">Vendors</a>
                    <a href="/moneycashboard/categories_limits">Categories and Limits</a>
                    <a href="/moneycashboard/budget">Budget</a>
                </li>
            </div>
        </ul>
    </nav>
    </div>
    <%= yield %>
</body>
</html>
