<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hogwarts</title>
    <link rel="stylesheet" href="/stylesheets.css"/>
</head>

<body>
    <div class="heading">
    <h1>MoneyCashBoard</h1>

    <nav>
        <ul>
            <div class="navigation">
            </div>
        </ul>
    </nav>

    <%= yield %>
</body>
</html>
