<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MoneyCashBoard</title>
    <link rel="stylesheet" href="/money_stylesheets.css"/>
</head>

<body>
    <div class="heading">
    <img src="https://i.forbesimg.com/media/2009/12/16/1216_cash-dollars_650x455.jpg" alt="picture of money" height="100" width="120">
    <h1>MoneyCashBoard</h1>
    <img src="http://static.tvtropes.org/pmwiki/pub/images/piggy_bank_8881.jpg" alt="picture of a piggy bank" height="100" width="120">
    </div>

    <nav>
        <ul>
            <div class="navigation">
                <li>
                    <a href="/moneycashboard">Home</a>
                </li>
                <li><a href="/moneycashboard/view_transactions">Transactions</a></li>
                <li><a href="/moneycashboard/view_vendors">Vendors</a></li>
                <li><a href="/moneycashboard/categories_limits">Categories and Limits</a></li>
                <li><a href="/moneycashboard/budget">Budget</a></li>
            </div>
        </ul>
    </nav>

    <%= yield %>

</body>
</html>
