<h1>Here are a list of the vendors you've used, and your purchases from them</h1>

<% @vendors.each do |vendor| %>
<h3><%=vendor.name%></h3>
<% vendor.transactions.each do |transaction| %>
<p>Category: <%=(Category.find(transaction.category_id)).name%></p>
<p>Date: <%=transaction.purchase_date()%></p>
<p>Amount spent: $<%=transaction.amount_spent%></p>
<hr>
<%end%>
<hr>
<%end%>
