body {
    background-color: #FFEBE7;
    margin: 0;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #7F95D1;
    margin: 0;
}

.heading h1 {
    justify-content: center;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FF82A9;
    margin: 0;
}

nav ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.navigation li {
    font-size: 24px;
}

.navigation li a {
    text-decoration: none;
    color: black;
}

.navigation li a:hover {
    color: white;
}

.page {
    margin-left: 10%;
}

.side_form {
    display: flex;

}

table {
    margin-right: 5%;
    border-radius: 50px;
}

td {
  border-style: solid;
  width: 300px;
  border-color: rgb(221, 20, 20);
}

.table_heading {
    font-weight: bold;
}

.total {
    font-weight: bolder;
}

   /*background-image: -webkit-linear-gradient(#FFEBE7, #FF82A9)*/
