body {
    background-color: white;
    margin: 0;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #465362;
    margin: 0;
}

.heading h1 {
    justify-content: center;
}

h2 {
    color: grey;
}

h3 {
    color: maroon;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ED254E;
    margin: 0;
}

nav ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.navigation li {
    font-size: 24px;
}

.navigation li a {
    text-decoration: none;
    color: black;
}

.navigation li a:hover {
    color: white;
}

.page {
    margin-left: 8%;
    margin-right: 8%
}

.limit_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vendor_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


table {
    border-collapse: collapse;
    border-radius: 50px;
    border-color: char;

}

td {
  border-style: ridge;
  width: 250px;
}

.transactions_table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thead {
    font-weight: bold;
}

.total {
    font-weight: bolder;
}

.transaction_form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vendor_transactions {
    display: flex;
}

.category_transactions {
    display: flex;
    flex-direction: row;
}

.transaction_column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-style: none;
    border-width: 0px;
    padding-right: 30px;
}

.transaction_form_selection {
    box-sizing: content-box;
    border-style: groove;
    border-width: 10px;
    border-color: rgb(9, 219, 166);
    border-radius: 20px;
    width: 300px;
    padding: 20px;
}



   /*background-image: -webkit-linear-gradient(#FFEBE7, #FF82A9)*/
